<link rel="stylesheet" type="text/css" href="../../core/theme/default/css/iss-component.css">
<script type="text/javascript" src="../../userinfo.js"></script>
<script type="text/javascript" src="../../version.js"></script>
<script type="text/javascript" src="../../core/js/sea-3.0.0.js" id="seajsnode"></script>
<script type="text/javascript" src="../../core/js/lib/vue-2.5.9.min.js"></script>
<script type="text/javascript" src="../../core/js/issapi.min.js"></script>
<script type="text/javascript" src="../../core/js/lib/iss-component.min.js"></script>


<div v-cloak id="pageDiv">
    <div is="iss-card" title="iss-form">
        <table is="iss-form">
            <tr style="float:left;">
                <td>这是iss-form</td>
                <td><input is="iss-input"></td>
            </tr>   
        </table>
    </div>
</div>
<style>
    .iss-form .iss-input{
        height:22px;
        width:160px;
    }
</style> 
<script type="text/javascript">
	//加载入口模块
	seajs.use( ["components_demo","issapi"], function(main) {
		main.init();
	} ); 
</script>