<link rel="stylesheet" type="text/css" href="../../core/theme/default/css/iss-component.css">
<script type="text/javascript" src="../../userinfo.js"></script>
<script type="text/javascript" src="../../version.js"></script>
<script type="text/javascript" src="../../core/js/sea-3.0.0.js" id="seajsnode"></script>
<script type="text/javascript" src="../../core/js/lib/vue-2.5.9.min.js"></script>
<script type="text/javascript" src="../../core/js/issapi.min.js"></script>
<script type="text/javascript" src="../../core/js/lib/iss-component.min.js"></script>


<div v-cloak id="pageDiv">
    <div is="iss-card" title="表单列表综合示例">
        <table is="iss-list"  ref="dpt" :datasource="rowsData" :gotopage="list" >
        <thead>
            <tr>
                <th rowspan="2" class="index selector more">全选</th>
                <th rowspan="2" style="width: 400px;">项目编码</th>
                <th rowspan="2" style="width: 400px;">项目名称</th>
                <th rowspan="2" style="width: 400px;">url</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(row, idx) of rowsData">
                <td is="iss-index" v-model="row._select">{{idx + 1}}</td>
                <td is="iss-index" v-model="row._select"><input is="iss-input" style="width: 400px;" v-model="row.CProCode" /></td>
                <td is="iss-index" v-model="row._select"><input is="iss-input" style="width: 400px;" v-model="row.CProjectName" /></td>
                <td is="iss-index" v-model="row._select"><input is="iss-input" style="width: 470px;"  v-model="row.CUrl" /></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<style>
    .iss-list tbody tr:nth-child(odd){
        height:30px;
    }
    .iss-list tbody tr:nth-child(even){
        height:30px;
    }
</style> 
<script type="text/javascript">
	//加载入口模块
	seajs.use( ["components_demo","issapi"], function(main) {
		main.init();
	} ); 
</script>